html,body,div,span,h1,h2,p,a,acronym,dfn,img,ins,strong,
center,legend,caption,article,canvas,figcaption,footer,
header,menu,nav,section {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article,figcaption,footer,
header,menu,nav,section {
	display:block;
}

body {
	line-height:1;
	-webkit-text-size-adjust:none
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-width: 1200px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.\31 2u { width: 100% }
.\31 1u { width: 91.6666666667% }
.\31 0u { width: 83.3333333333% }
.\39 u { width: 75% }
.\38 u { width: 66.6666666667% }
.\37 u { width: 58.3333333333% }
.\36 u { width: 50% }
.\35 u { width: 41.6666666667% }
.\34 u { width: 33.3333333333% }
.\33 u { width: 25% }
.\32 u { width: 16.6666666667% }
.\31 u { width: 8.3333333333% }