#main-container {
	overflow: hidden;
	background-image: url("img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #89ce94;
	height: 800px;
	animation-name: mainContainer;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

}


.paragraph-home,
.container-of-achievements-paragraph {
	text-align: left;
	border-width: 5px;
	border-style: dashed;
	background-color: #e3dc95;
}
.container-text-background {
	background-color: #e3dcc2;;
}


#nav {
	margin-bottom: 0px;
	background-color: #a6a867;
}

.travel-container,
.achievements-container {
	background-color: #e3dcc2;
}

.travel-text,
.Achievements-text,
.footer-text {
	color: white;
	text-shadow: 7px 7px #262626;
	font-family: 'Shrikhand', cursive;
}

.main-text {
	color: pink;
	margin-top: -300px;
	opacity: 0;
	text-shadow: 7px 7px #262626;
	font-family: 'Shrikhand', cursive;
	animation-name: textanimation;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-play-state: linear;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.main-text2 {
	color: white;
	font-family: 'Shrikhand', cursive;
	text-shadow: 4px 4px #262626;
	opacity: 0;
	animation-name: mainText2Anim;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-play-state: ease;
	animation-fill-mode: forwards;
}
.text-style {
	color: white;
	font-family: 'Playball', cursive;
	font-size: 25px;
	text-shadow: 2px 2px #262626;
	opacity: 0;
	animation-name: textanimationStylefive;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

img {
	margin-top: 20px;
	height: 250px;
	box-sizing: border-box;
	opacity: 1;
}

.footer {
	background-color: #a6a867;
}

/*about page css*/

.main-container-about {
	width: 100%;
	height: 750px;
	background: radial-gradient(red, orange, yellow);
	position: fixed;
}
.paragraph-container,
.container-of-achievements-paragraph {
	opacity: 0.7;
	height: 400px;
	width: 70%;
/*	background-color: #a9aca9;*/
	margin-top: 200px;
	margin-left: 200px;
	border-radius: 3px;
	border-style: dashed;
}
.special-text,
.Achievements-paragraph-1 {
	color: red;
	text-indent: 150px;
	font-size: 20px;
	font-family: 'Bitter', serif;
	animation-name: specialTextAnimation;
	animation-duration: 20s;
	animation-iteration-count: infinite;

}

/*contact page css*/

.button {
	height: 100px;
	width: 100%;
	background-color: green;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}



/*gallery page css*/

.gallery {
	overflow: hidden;
	height: 750px;
	background-color: #eaeaea;
}

.img-style-gallery {
	margin-top: 0px;	
	box-shadow: 10px 10px 10px;
	animation-name: imgGallery;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

/*animations*/

@keyframes mainContainer {
	from {
		height: 800px;
	}
	to {
		height: 0px;
	}
}	

@keyframes imgGallery {
	from {
		margin-top: 0px;
	}
	to {
		margin-top: -100px;
	}
}
@keyframes mainText2Anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes textanimationStylefive {
				from {
				-webkit-opacity:0;
				-moz-opacity: 0;
					opacity: 0;
				}
				to {
				-webkit-opacity: 1;
				-moz-opacity: 1;
					opacity: 1;
				}
}


@keyframes textanimation {
	0% {
		-webkit-margin-top: 0px;
		-moz-margin-top: 0px;
		-o-margin-top: 0px;
		margin-top: 0px;
		opacity: 0;
	}
	50% {
		-webkit-margin-top: 300px;
		-moz-margin-top: 300px;
		-o-margin-top: 300px;
		margin-top: 300px;
		opacity: 1;
	}
	100% {
		-webkit-margin-top: 0px;
		-moz-margin-top: 0px;
		-o-margin-top: 0px;
		margin-top: 0px;
		opacity: 1;
	}
}

@keyframes specialTextAnimation {
	0% {
		color: red;
	}
	25% {
		color: blue;
	}
	50% {
		color: green;
	}
	100% {
		color: black;
	}
}